.heading {font-size:170%}
.heading {font-family:arial}
.heading 
.body, html {
  height: 100vh;
  display: grid;
  place-items: flex-start;
}

.solarflare, html {
  height: vh;
  display: grid;
  place-items: flex-start.
}  
  
  
.vortex, html {
  height: 10vh;
  display: grid;
  place-items: flex-start.
}

.nebula, html {
  height: 10vh;
  display: grid;
  place-items: flex-start.
}

.stardust, html {
  height: 10vh;
  display: grid;
  place-items: flex-start.
}
